@use '../custom'as*;

.login{
    width: 50%;
    place-items: center;
}
.log {
    input[type=text] {
        width: 100%;
        box-sizing: border-box;
        border: 1px solid $primary-color;
        border-radius: 4px;
        font-size: 16px;
        background-color: $light-color;
        background-position: 10px 10px; 
        background-repeat: no-repeat;
        padding: 12px 0 12px 20px;
        margin-bottom: 1rem;
        &:focus{
            border: none;
            outline-color: $primary-color;
            opacity: 0.25;
            background-color: $primary-color;
        }
    }

    input[type=password] {
        width: 100%;
        box-sizing: border-box;
        border: 1px solid $primary-color;
        border-radius: 4px;
        font-size: 16px;
        background-color: $light-color;
        background-position: 10px 10px; 
        background-repeat: no-repeat;
        padding: 12px 0 12px 20px;
        &:focus{
            border: none;
            outline-color: $primary-color;
            opacity: 0.25;
            background-color: $primary-color;
        }
    }
    input[type=submit] {
        width: 100%;
    }
    p{
        font-size: 14px;
        font-weight: 200;
        margin-left: 30px;
        margin-bottom: 5px;
    }
    a{
        margin-left: 100px;
        color: $gray-700;
    }
}
.reg{
    width: 50%;
    place-items: center;
}
.registration {
    input[type=text] {
        width: 100%;
        box-sizing: border-box;
        border: 1px solid $primary-color;
        border-radius: 4px;
        font-size: 16px;
        background-color: $light-color;
        background-position: 10px 10px; 
        background-repeat: no-repeat;
        padding: 12px 0 12px 20px;
        margin-bottom: 1rem;
        &:focus{
            border: none;
            outline-color: $primary-color;
            opacity: 0.25;
            background-color: $primary-color;
        }
    }

    input[type=password] {
        width: 100%;
        box-sizing: border-box;
        border: 1px solid $primary-color;
        border-radius: 4px;
        font-size: 16px;
        margin-bottom: 1rem;
        background-color: $light-color;
        background-position: 10px 10px; 
        background-repeat: no-repeat;
        padding: 12px 0 12px 20px;
        &:focus{
            border: none;
            outline-color: $primary-color;
            opacity: 0.25;
            background-color: $primary-color;
        }
    }
    input[type=submit] {
        width: 100%;
    }
    p{
        font-size: 14px;
        font-weight: 200;
        margin-left: 30px;
        margin-bottom: 5px;
    }
    a{
        margin-left: 100px;
        color: $gray-700;
    }
}






/* MEDIA QUERIES */
@media (max-width: 1068px) {
    
}

@media (max-width: 768px) {
    
    .login{
        width: 100%;
        .log{
            a{
                margin-left: 0;
            }
        }
    }

    .reg{
        width: 100%;
        .registration{
            a{
                margin-left: 0;
            }
        }
    }

}
   