@use '../custom'as*;

 /* TEXT ELEMENTS */
 .text-heading {
    margin-bottom: 30px;
    font-size: 3rem;
    color: $text-heading;
}

.mobile {
    margin-bottom: 30px;
    font-size: 1rem;
    color: $text-heading;
}

b,
sup,
sub,
u,
del {
    color: $primary-color;
}

.typography {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $text-color;
    }
}

h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.6rem;
}
h4{
    font-size: 1rem;
}
h5{
    font-size: 0.5rem;
}
h6{
    font-size: 0.3rem;
}

.paragraph{
    color: $text-color;
    margin: 20px 0 10px;
    font-size: 1.1rem;
}

.paragraph-small{
    color: $text-color;
    margin: 10px 0 5px;
    font-size: 0.899rem;
}