@use '../custom'as*;

/* SERVICES PAGE */
.services {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    text-align: center;
  }
  
  .services .service {
    padding: 30px;
    background-color: $default;
    &:hover {
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    }
  }
  
  
  .services .service h2 {
    font-size: 24px;
    font-weight: 500;
    margin-top: 20px;
  }
  
  .services .service .icon i{
    max-width: 100px;
    font-size: 3rem;
    font-weight: 600;
    color: $primary-color;
  }

  
/* MEDIA QUERIES */
@media (max-width: 1068px) {
    .services {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .services {
        grid-template-columns: 1fr;
    }
}