// My Theme Colors
$primary-color:     #ed2649;
$primary-light-red: #f5363e;
$secondary-base-color: #ff6062;
$secondary-light-color: #ff469f;
$dark-color: #B00002;
$light-color: #ffdfe0;
$success-color: #5cb85c;
$error-color: #d9534f;
$info: #ff7072;
$default: #f9f9ff;
$link: #ffdfe0;

$lighten-10-color: #ff7072;
$lighten-20-color: #ffb0b1;
$lighten-30-color: #ffefef;

$darken-10-color: #ff3d3f;
$darken-20-color: #690001;
$darken-30-color: #230000;
// End of My Theme Colors

// Start of Gray-Color-Variables
$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212121;
$black:    #000;
// End of Gray-Color-Variables

// Font Family
$font-family: "Poppins", sans-serif;

$text-heading: $gray-700;
$title-color: $gray-900;
$text-color: $gray-900;






